@model IEnumerable<Instructor> 
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	int count = 1;
}
<h1>Təlimçilər Listi</h1>
<hr />

<a style="height:30px" href="/Instructor/Create/" class="btn btn-sm btn-dark btn-cr mt-3">Yarat</a>

<br />
<br />

<table class="table table-bordered">

	<thead>
		<tr>
			<th>#</th>
			<th>Təlimçi Adı</th>
			<th>E-poçt</th>
			<th>Telefon nömrəsi</th>
			<th>İşə alınma</th>
			<th>Əməliyyatlar</th>

		</tr>

	</thead>

	<tbody>
		@if (!Model.Any())
		{
			<tr>
				<td colspan="6" class="text-center">Heç bir məlumat yoxdur</td>
			</tr>
		}
		@foreach (var item in Model)
		{
			<tr>
				<td style="color:lightslategray">@count</td>
				<td>@item.FullName</td>
				<td>@item.Email</td>
				<td>@item.PhoneNumber</td>
				<td>@item.HireDate.ToString("dd-MMM-yyyy")</td>


				<td>
					@Html.ActionLink("Yenilə", "Update", "Instructor", new { id = item.InstructorId }, new { @class = "btn btn-sm btn-primary d-inline" })

					<form asp-action="Delete" asp-controller="Instructor" asp-route-id="@item.InstructorId" method="post" class="d-inline" onsubmit="return confirm('Silmək istədiyinizə əminsiniz?')">
						<button type="submit" class="btn btn-sm btn-danger">Sil</button>
					</form>

				</td>
			</tr>
			count++;
		}

	</tbody>
</table>

